footer {

     //  Estructura Grid
     grid-area: footer;
     grid-template-columns: 3;
     grid-template-rows: 1;
     
     
     // Estilados
      .cont_redes{
         display: flex;
         justify-content: center;
     }
          #redes {
             text-align: center;
             font-weight: bold;
             font-size: 1.5rem;
             margin-top: 5px;
             color:#e1c8ca;;
             background-color: black;
             border: 2px solid #e1c8ca;
             border-radius: 5px;
             padding: 4px;

             @include anchocontacto (425px){
                margin-right: 15px;
              }
         }
      .cont_logos {
         text-align: center;
     }
         a {
             .logos {
             width: 25px;
             height: 25px;
             margin-top: 5px;
           }
         }

      #derechos {
         color: rgb(0, 0, 0);
         display: flex;
        margin-top: 20px;
        margin-left: 10px;   
         font-family: Georgia, 'Times New Roman', Times, serif;
         background-color: rgb(200, 215, 210);
         font-style: italic;
         display: inline-block;
     }
 }